/* Estilos generales */
.body-style {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    padding: 0;
    background-color: rgb(123,66,166);
    background-image: radial-gradient(circle, rgba(123,66,166,1) 0%, rgba(65,38,92,1) 50%, rgba(65,38,92,1) 100%);
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .form-style {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid #FCFC00;
    border-radius: 5px;
  }
  /* Estilos para el encabezado */
  h1 {
    font-size: 40px;
    color:#FCFC00;
    margin-bottom: 20px;
  }
  
  /* Estilos para las etiquetas de los campos del formulario */
  .input-container{
    width: 70%;
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin:5px;
  }
  .label-style {
    margin-bottom: 10px;
    font-size: 20px;
    margin-right: 10px;   
  }
  
  /* Estilos para los campos de entrada del formulario */
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #ecece7;
    border: 1px solid #FCFC00;
    border-radius: 4px;
  }
  
  /* Estilos para el botón de enviar */
  button[type="submit"] {
    background-color: #FCFC00;
    color: rgb(123,66,166);
    font-size: 20px;
    padding: 20px 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estilos para el contenedor de información de contacto */
  .contact-container{
    /* background-color: black; */
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;

  }
  .contact-info {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .style-icon{
    /* width: 10px;    */
  }
  /* Estilos para las etiquetas de información de contacto */
  div.contact-info span {
    margin-bottom: 10px;
  }
  
  /* Estilos para los mensajes de estado */
  div.status-message {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  
  /* Estilos para el mensaje de error */
  div.status-message.error {
    background-color: #f44336;
    color: white;
  }
  
  /* Estilos para el mensaje de éxito */
  div.status-message.success {
    background-color: #4CAF50;
    color: white;
  }